<div class='w-full'>
  <h1><%= @recipe.name %></h1>
  <p><%= @recipe.description %></p>
  
  <p><%= @recipe.preparation_time %></p>
  <p><%= @recipe.cooking_time %></p>
  <p><%= @recipe.public %></p>
  <div class='flex w-full justify-between'>
    <a href=''><span><button class='bg-blue-300 p-3'>Generate Shopping List</button></span></a>
    <a href=''><span><button class='bg-blue-300 p-3'>Add Ingredient</button></span></a>
  </div>
  <ul>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <li>
        <%= recipe_food.food.name %>
        <%= recipe_food.quantity %>
        <%= recipe_food.food.measurement_unit %>      
      </li>
    <% end %>
  </ul>

  
  
</div>