<main class="p-6 max-w-md m-auto flex ">
  <div class="p-6 w-full max-w-md mx-auto bg-white space-x-4 d-flex flex-col items-center">
  <%= notice %>
    <div class='flex'>
    <h2 class='m-auto'>Add Food</h2>
    </div>
    <%= form_with model: @food, url: foods_path, method: :post, local: true do |f| %>
      <div>
        <%= f.text_field :name, placeholder: "Name" %>
      </div>
      <div>
        <%= f.text_field :measurement_unit, placeholder: "Measurement Unit" %>
      </div>
      <div>
        <%= f.text_field :price, placeholder: "Price" %>
      </div>
      <div>
        <%= f.text_field :quantity, placeholder: "Quantity" %>
      </div>
      <div class='flex'>
      <div class='m-auto  bg-blue-300 p-3'>
        <%= f.submit "Submit" %>
      </div>
      </div>
    <% end %>
  </div>
</main>