<main class="p-6 max-w-md m-auto flex ">
  <div class="p-6 w-full max-w-md mx-auto bg-white space-x-4 d-flex flex-col items-center">
  <%= notice %>
    <div class='flex'>
    <h2 class='m-auto'>Add Food</h2>
    </div>
    <%= form_with model: @food, url: foods_index_path(@food.user_id), method: :post, local: true do |f| %>
      <div>
        <%= f.text_field :title, placeholder: "Name" %>
      </div>
      <div>
        <%= f.text_field :text, placeholder: "Measurement Unit" %>
      </div>
      <div>
        <%= f.text_field :text, placeholder: "Price" %>
      </div>
      <div class='flex'>
        <div class='m-auto  bg-blue-300 p-3'>
          <%= f.submit "Submit" %>
        </div>
      </div>
    <% end %>
  </div>
</main>