<!DOCTYPE html>
<html>
  <head>
    <title>GroupCapstoneRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <header class="bg-blue-300 p-3">
      <h1 class="text-3xl text-center">Group Capstone</h1>
      <% if user_signed_in? %>
        <p class="text-center">Signed in as: <%= current_user.name %></p>
      <% end %>
    </header>
    <nav>
      <ul class="flex justify-center">
        <li class="p-3"><%= link_to "New Recipe", new_recipe_path %></li>      
        <li class="p-3"><%= link_to "Recipes", recipes_path %></li>
        <% if Recipe.any? %>
      <li class="p-3">
        <%= link_to "Public Recipe", recipe_food_index_path %>
      </li>
      <% end %>
        <li class="p-3"><%= link_to "Food", foods_path %></li>
        <li class="p-3"><%= link_to "Sign Up", new_user_registration_path %></li>
        <li class="p-3"><%= link_to "Log In", new_user_session_path %></li>
        <li class="p-3"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
    <main class="container m-auto align-center mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
